* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Poppins, 'sans-serif';
}

body {
  background: #292C35;
  transition: background 0.2s linear;
}

.switcher {
  position: relative;
}

.label {
  padding: 1.83890625rem;
  max-width: 7.355625rem;
  height: 3.1875rem;
  background: #000000;
  border-radius: 1.84375rem;
  position: relative;
  top: 1rem;
  bottom: 0;
  left: 1rem;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  margin-left: -1.375rem;
  transform: translateX(4px);
}

.ball {
  max-width: 2.6971875rem;
  max-height: 2.6971875rem;
  padding: 1.34859375rem;
  border-radius: 100%;
  background: #F1F1F1;
  transition: transform 0.2s linear;
  cursor: pointer;
  position: absolute;
  margin-left: 2.375rem;
}

.moon {
  margin-left: -1.5rem;
}

.sun {
  margin-left: 0.5rem;
}

body.light {
  background: #F1F1F1;
}

body.light .links {
  color: black;
}

main {
  margin-top: 2rem;
}

section {
  text-align: center;
}

#profile-picture {
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  border: 3px solid rgb(11, 177, 219);
  padding: 0.375rem;
}

.links {
  color: white;
  width: 18rem;
  display: flex;
  justify-content: center;
  border: 3px solid rgba(135, 206, 235);
  margin-top: 1rem;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.link {
  padding: 0.625rem;
}

:root {
  scrollbar-color: #8F8F8F #374151 ;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track{
  background: #374151;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #8F8F8F;
  border-radius: 14px;
}