* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #292C35;
  transition: background 0.2s linear;
}

.switcher {
  position: relative;
}

.label {
  padding: 1.83890625rem;
  max-width: 7.355625rem;
  height: 3.1875rem;
  background: #000000;
  border-radius: 1.84375rem;
  position: relative;
  top: 1rem;
  bottom: 0;
  left: 1rem;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  margin-left: -1.375rem;
  transform: translateX(4px);
}

.ball {
  max-width: 2.6971875rem;
  max-height: 2.6971875rem;
  padding: 1.34859375rem;
  border-radius: 100%;
  background: #F1F1F1;
  transition: transform 0.2s linear;
  cursor: pointer;
  position: absolute;
  margin-left: 2.375rem;
}

.moon {
  margin-left: -1.5rem;
}

.sun {
  margin-left: 0.5rem;
}

body.light {
  background: #F1F1F1;
}

#current-theme {
  display: none;
}

section, img, p, a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

section {
  text-align: center;
}

#imagempessoa {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 3px solid rgb(11, 177, 219);
  border-radius: 100px;
  padding: 5px;
}

#instagram {
  color: rgb(17, 169, 230);
  margin-top: 5px;
  margin-bottom: 15px;
}

section .links {
  text-align: center;
}

.links {
  color: rgba(17, 169, 230);
  width: 300px;
  display: inline-block;
  height: 49px;
  border: 3px solid rgba(135, 206, 235);
  border-radius: 5px;
  margin-top: 15px;
  font-weight: 600;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.link {
  padding: 10px;
}